extends layout
append head
	link(rel="stylesheet", href="/stylesheets/discos.css" type='text/css')
block content
	h1#discosHeader #{titulo}
	#discosContainer
		for disco in discosRender
			article.disco
				.imgContainer
					a(href='/discos/'+disco.id)
						img(src="/images/" + disco.img alt=disco.nombre)
				.infoContainer
					p.discoNombre #{disco.nombre}
					p.discoArtista #{disco.artista}
					p.discoGenero Género: #{disco.genero.genero}